/* Stylesheet */

* {
    background-color: black;
}

#MyClock {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 88px;
    color: limegreen;
    padding-top:200px;
}