body {
    background-color: black;
}

#MyClock {
    font-family: helvetica; 
    font-size: 8rem;
    color: limegreen;
    text-align: center;
    margin-top: 180px;
    width: 600px;
    height: 400px;
    background-color: darkviolet;
}

div {
    margin: auto;
}
