body {
    background-color: black;
}

#MyClock {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: limegreen;
    padding-top: 200px;
}

div {
    width: 400px;
    height: 100px;
    margin: auto;
    background-color: darkviolet;
}
