body {
    background: #212121;
}
.clock {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-top:200px;
    justify-content: center;
    color: #ff4747;
    font-size: 8rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}