body {
    background-color: black;
}

div {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 600px;
    height: 400px;
}

#theTime{
    font-family: "Orbitron", sans-serif; 
    font-size: 8rem;
    color: #66ff99;
    background-color: purple;
}
