body {
    background: #212121f4;
}
.clock {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-top:200px;
    justify-content: center;
    color: #ee3c3c;
    font-size: 8rem;
    font-family: 'Rubik', sans-serif;
    border: 2px solid cyan;
}